<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css"
        integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        #sidebar {
            width: 250px;
            min-height: 100vh;
            background-color: #f8f9fa;
            transition: width 0.9s ease, opacity 0.1s ease-out;
        }

        .collapsed-sidebar {
            width: 0px;
            opacity: 0;
        }

        .content {
            transition: margin-left 0.9s ease;
        }

        .expanded-content {
            margin-left: 0;
            width: 100%;
        }

        #closeBtn {
            z-index: 1000;
            position: fixed;
            top: 10px;
            left: 190px;
        }

        #navSide {
            position: relative;
            top: 20px;
        }

        #toggleSidebar {
            display: none;
            position: fixed;
            top: 10px;
            left: 20px;
            height: 50px;
            cursor: pointer;
        }

        .btn {
            border: none;
        }

        .dropdown-menu {
            margin-left: 40px;
            padding: 0px;
            height: 170px;
        }
    </style>

    <link rel="stylesheet" href="../static/css/admin-style.css">

    {{style}}
</head>

<body>
    <aside id="sidebar">
        <button id="toggleSidebar">&times;</button>
        <ul id="navItems">
            <h1 id="greeting">Welcome, <span id="adminName"></span>!</h1>
            <li><a href="/admin" id="dashboardBtn">Dashboard</a></li>
            <li><a href="/member-management" id="membersBtn">Members Management</a></li>
            <li><a href="/enroll-program" id="enrollProgramBtn">Enroll Programs</a></li>
            <li><a href="/payment" id="paymentBtn">Payment</a></li>
            <li><a href="/approval-requests" id="approvalRequestBtn">Approval Requests</a></li>

            <li>
                <div class="dropdown">
                    <a class="btn  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-expanded="false">Reports</a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="user-reports">User Reports</a></li>
                        <li><a class="dropdown-item" href="payment-reports">Payment Reports</a></li>
                        <li><a class="dropdown-item" href="program-reports">Program Reports</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/logout" id="logoutBtn">Logout</a></li>

        </ul>
    </aside>
    <div class="content flex-grow-1" id="contentArea">
        <main> {{content}} </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            const paymentsUrl = "http://localhost:7000/Payments";
            const lastIdUrl = "http://localhost:7000/LastId";
            const alertsUrl = "http://localhost:7000/Alerts";
            let alerts = [];

            let payments = [];
            let lastIds = [];

            const paymentResponse = await fetch(paymentsUrl);
            payments = await paymentResponse.json();

            const lastidsResponse = await fetch(lastIdUrl);
            lastIds = await lastidsResponse.json();

            const alertsResponse = await fetch(alertsUrl);
            alerts = await alertsResponse.json();

            const loggedInUser = JSON.parse(sessionStorage.getItem('loggedinuser'));
            let userName = document.getElementById('adminName');
            userName.innerHTML = capitalizeFirstLetter(loggedInUser.UserName);

            await addNewAlerts(payments,alerts);

            async function addNewAlerts(payments, alerts) {
                const today = new Date();
                const filterdPayments = payments.filter(payment => payment.PaymentType !== 'ProgramAddon'&& payment.PaymentType !== 'Initial');
                const lastPayments = filterdPayments.reduce((acc, payment) => {
                    const memberId = payment.MemberID;
                    if (!acc[memberId]) {
                        acc[memberId] = [];
                    }
                    acc[memberId].push(payment);
                    return acc;
                }, {});

                for (const memberId in lastPayments) {
                    const memberPayments = lastPayments[memberId];
                    memberPayments.sort((a, b) => {
                        const paymentIdA = parseInt(a.id.substring(1), 10); // Remove first letter and convert to number
                        const paymentIdB = parseInt(b.id.substring(1), 10);
                        return paymentIdB - paymentIdA; // Compare the numerical part to find the last payment
                    });

                    const lastPayment = memberPayments[0];

                    const lastDueDate = new Date(lastPayment.DueDate);
                    const daysBeforeDue = Math.ceil((lastDueDate - today) / (1000 * 60 * 60 * 24));

                    const existingOverdueAlert = alerts.find(alert => alert.MemberID === memberId && alert.AlertType === "overdue");
                    if (lastDueDate < today && !existingOverdueAlert) {
                        const overdueAlert = {
                            id: generateID("AT", lastIds.AlertID),
                            AlertType: "overdue",
                            Amount: lastPayment.Amount,
                            DueDate: lastPayment.DueDate,
                            MemberID: lastPayment.MemberID,
                            Status: true
                        };
                        await postApi(alertsUrl, overdueAlert);
                        alerts.push(overdueAlert);
                        lastIds.AlertID++;
                        await updateLastId(lastIds);
                        console.log(`Overdue alert added for MemberID: ${lastPayment.MemberID}`);
                    }

                    const existingRenewalAlert = alerts.find(alert => alert.MemberID === memberId && alert.AlertType === "renewal");
                    if (daysBeforeDue <= 5 && daysBeforeDue >= 0 && !existingRenewalAlert && lastDueDate > today) {
                        const renewalAlert = {
                            id: generateID("AT", lastIds.AlertID),
                            AlertType: "renewal",
                            Amount: lastPayment.Amount,
                            DueDate: lastPayment.DueDate,
                            MemberID: lastPayment.MemberID,
                            Status: true
                        };

                        await postApi(alertsUrl, renewalAlert);
                        alerts.push(renewalAlert);
                        lastIds.AlertID++;
                        await updateLastId(lastIds);
                        console.log(`Renewal alert added for MemberID: ${lastPayment.MemberID}`);
                    }
                }
            }
        });


        const sidebar = document.getElementById('sidebar');
        //const closeBtn = document.getElementById('closeBtn');
        //const contentArea = document.getElementById('contentArea');
        const toggleButton = document.getElementById('toggleSidebar');

        toggleButton.addEventListener('click', () => {
            console.log("gbe")
            sidebar.classList.remove('collapsed-sidebar');
            contentArea.classList.remove('expanded-content');
            toggleButton.style.display = 'none';
        });



        async function postApi(url, arr) {
            const response = await fetch(url, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(arr)
            });
            return response;
        }
        async function putApi(url, id, arr) {
            const response = await fetch(`${url}/${id}`, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(arr)
            });
            return response;
        }

        async function updateLastId(arr) {
            const response = await fetch(`http://localhost:7000/LastId`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(arr)
            });
        }
        async function deleteApi(url, id) {
            await fetch(`${url}/${id}`, {
                method: "DELETE"
            });
        }

        document.getElementById('toggleSidebar').addEventListener('click', function () {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('minimized');
            if (sidebar.classList.contains('minimized')) {
                this.innerHTML = '<i class="fa-solid fa-bars"></i>';
            } else {
                this.innerHTML = '&times';
            }
        });

        const generateID = (prefix, lastId) => {
            const number = lastId.toString().padStart(3, '0');
            return `${prefix}${number}`;
        };

        function capitalizeFirstLetter(string) {
            return string.split('_').map(word => {
                return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
            }).join('');
        }
    </script>
    {{script}}

</body>

</html>