* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    position: fixed;
    top: 0;
}

#notificationBtn {
    position: absolute;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

#content {
    margin-top: 80px;
    /* To account for the header */
    padding: 20px;
    flex: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    background-color: #34495e;
    width: 250px;
    min-height: 100vh;
    padding-top: 20px;
    transition: width 0.3s;
}

#navItems {
    list-style-type: none;
    padding: 0;
    position: relative;
    top: 70px;
}

#navItems li {
    margin: 10px 0;
}

#navItems li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

#navItems li a:hover {
    background-color: white;
    color: #1abc9c;
}

#logoutBtn {
    background-color: red;
    color: white;
    font-weight: 800;
    position: absolute;
    top: 500px;
    left: 0px;
    width: 250px;
    margin: 0px;
}

#logoutBtn:hover {
    background-color: white;
    color: red;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.light-green {
    background-color: #1abc9c;
    color: white;
}

.dark-green {
    background-color: white;
    color: rgb(4, 72, 59);
}

.notification-non-clicked {
    color: gold;
}

.notification-clicked {
    color: white;
}

#toggleSidebar {
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 2px;
    left: 10px;
    transition: transform 0.3s;
    width: 50px;
}

#sidebar.minimized {
    width: 60px;
}

#sidebar.minimized #navItems {
    display: none;
}

.user {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 450px));
    gap: 20px 15px;
    justify-content: center;
    margin-left: 100px;
    margin-top: 100px;
}

.card {
    border: 2px solid #0c2a48;
    padding: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user li {
    list-style-type: none;
    margin-left: 30px;
    padding: 5px;
    font-weight: 550;
}

.user p {
    color: #0c2a48;
    font-weight: 800;
    font-size: 20px;
}

/* change programs */
.changeProgramCard h2,
h3 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.program-checkbox {
    transform: scale(1.5);
}

#changeButton,
#submitButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1abc9c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#changeButton:hover,
#submitButton:hover {
    background-color: #16a085;
}

/* Popup styling */
.popup {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    z-index: 1000;

}
.popup-content{
    background-color: #ecf0f1;
    padding: 20px ;
    border-radius: 10px;
}
.popup-content p {
    margin: 10px 0px;
}

#additionalAmount {
    font-weight: 700;
    color: green;
}

#totalCost {
    font-weight: 700;
    color: darkblue;
}

.popup-content h3 {
    color: #2c3e50;
    text-align: center;
    font-weight: 800;
}

/* Form labels for the popup */
.popup .form-label {
    display: block;
    margin-top: 15px;
    color: #34495e;
    margin-bottom: 5px;
    text-align: left;
}

/* Input fields for the popup */
.popup .input-field {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Buttons in popup */
.popup .btn,
.popup .btn-cancel {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup .btn {
    background-color: #1abc9c;
}

.popup .btn:hover {
    background-color: #16a085;
}

.popup .btn-cancel {
    background-color: #e74c3c;
}

.popup .btn-cancel:hover {
    background-color: #c0392b;
}

.changeProgramCard {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cardioPrograms,
#weightPrograms {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5px;
}

#cardioSection,
#weightTrainingSection {
    width: 45%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#trainingProgramSelection {
    display: flex;
    justify-content: space-between;
}

.program-label {
    margin: 10px;
    display: block;
    font-size: 18px;
}

.program-checkbox {
    transform: scale(1.5);
    margin: 0px 10px;
}